<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='/javascript/testgraphe.js'></script>
    <script type="text/javascript" src='/javascript/jquery-1.8.0.min.js'></script>
    <script type="text/javascript" src='/javascript/d3.v3.min.js'></script>
  </head>
  <h1>Test Graph<a href="http://localhost:3000/">Bike station</a>, <a href="http://localhost:3000/metro"> Metro link</a></h1>
  <body>

  	<!-- Div which contains the form stuff-->
	<div>
		</hr>
		<p>Départ:</p>
		<select id = 'depart'>
				<% for(i=0; i< dataBus.length; i++){ %>
				<option value= <%= dataBus[i].Stop_id %> > <%= dataBus[i].Stop_name%> </option>
			<% } %>	
			<% for(i=0; i< dataBike.length; i++){ %>
				<option value= <%= dataBike[i].BikeStop_id%> > <%= dataBike[i].BikeStop_name%> </option>
			<% } %>	
			<% for(i=0; i< dataMetro.length; i++){ %>
				<option value= <%= dataMetro[i].MetroStop_id%> > <%=dataMetro[i].MetroStop_name%> </option>
			<% } %>	

		</select>

		<p>Arrivé:</p>
		<select id='arrive'>
				<% for(i=0; i< dataBus.length; i++){ %>
				<option value= <%= dataBus[i].Stop_id %> > <%= dataBus[i].Stop_name%> </option>
			<% } %>	
			<% for(i=0; i< dataBike.length; i++){ %>
				<option value= <%= dataBike[i].BikeStop_id%> > <%= dataBike[i].BikeStop_name%> </option>
			<% } %>	
			<% for(i=0; i< dataMetro.length; i++){ %>
				<option value= <%= dataMetro[i].MetroStop_id%> > <%=dataMetro[i].MetroStop_name%> </option>
			<% } %>	

		</select>


		<p>Type de transport:</p>
		<input type="checkbox" name="bus" id="bus" value="bus" checked="yes">Bus<br>
		<input type="checkbox" name="bike" id="bike" value="bike" checked="yes">Bike<br>
		<input type="checkbox" name="metro" id="metro" value="metro" checked="yes">Metro
		<br>
		</hr>
		<input type="submit" onclick='javascript: callServer()'>
	</div>

	<!-- Div which will contains the result -->
	<div id='result'>

	</div>

  </body>
</html>